<table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" role="grid" aria-describedby="">
<thead>
<tr role="row" class="heading">
	<th width="5%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="用例">用例</th>
	<th width="25%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="任务1">任务1</th>
	<th width="15%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="任务2">任务12</th>
</tr>
<tr role="row" class="filter">
	<td rowspan="1" colspan="1"></td>
	<td rowspan="1" colspan="1"></td>
	<td rowspan="1" colspan="1"></td>
		<a href="javascript:;"><i class="glyphicon glyphicon-search filter-submit" title="Search"></i></a>
	</td>
</tr>
</thead>
<tbody>
	<tr role="row" class="odd">
		<td>21</td><td></td><td></td>
	</tr>
	<tr role="row" class="even">
		<td>21</td><td></td><td></td>
	</tr>
</table>